body {
    
    width: 100%;
    height: 100vh;
    background: rgb(9,53,20);
    background: linear-gradient(90deg, rgba(9,53,20,1) 0%, rgba(40,85,28,1) 25%, rgba(71,127,91,1) 50%, rgba(73,131,151,1) 75%, rgba(58,92,124,1) 100%); 
  }


.social-pad{
margin-left: 20px;
}

.display-6{
color:rgb(255, 255, 255)
}

.navbar-brand:hover{
  opacity: 0.6;
  transition: all 0.9s ease-out;

}

